.page-main-content {
  // background-color: red;
  overflow: scroll;
  height: 100vh;
  width: 100%;
}
.has-header {
  padding-top: 64px;
  height: calc(100vh - 64px);
}

.bg-white {
  background: white;
}
.content-container {
  padding: 48px 24px;
  margin-bottom: 80px;
}
