$primary: mat-color($primary);
$warn: mat-color($warn);
$base-color: mat-color($my-foreground, base);
$icon-color: mat-color($my-foreground, icon);
$divider: mat-color($my-foreground, divider);
$gray-1: mat-color($gray-1);
$gray-2: mat-color($gray-2);
$gray-3: mat-color($gray-3);
