<div class="container">
  <div
    class="header accent"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
  >
    <div class="logo mb-3" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        class="logo-icon"
        [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
      >
        movie
      </mat-icon>
      <span
        class="title ml-3"
        [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
      >
        My Movies
      </span>
    </div>
  </div>

  <div class="content-card">
    <div class="pt-3 pb-3" fxLayout="column" fxLayoutAlign="center center">
      <app-movies-search></app-movies-search>
    </div>

    <ng-container *ngIf="loading$ | async as loading; else loading">
      <app-spinner [size]="20" [shouldShow]="loading"></app-spinner>
    </ng-container>
    <ng-template #loading>
      <div
        *ngIf="movies$ | async as data"
        [@animate]="{ value: '*', params: { delay: '120ms', scale: '.2' } }"
        class="ps"
        style="position: relative"
      >
        <app-movies-table
          [data]="data"
          [displayedColumns]="moviesService.tableDisplayedColumns"
        ></app-movies-table>
      </div>
    </ng-template>
  </div>
</div>
